@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin-top: $navbar-height + 20;
}

.badge {
  &--current {
    background-color: $brand-primary;
  }

  &--default {
    background-color: $brand-info;
  }

  &--total {
    background-color: $brand-danger;
    float: right;
  }
}

.chart {
  display: block;
  margin: 0 auto;
}
