@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin-top: $navbar-height + 20;
}

.badge {
  float: right;

  &--current {
    background-color: $brand-primary;
  }

  &--default {
    background-color: $brand-info;
  }

  &--total {
    background-color: $gray-dark;
  }
}

.chart {
  display: block;
  margin: 0 auto;
}

.browsers {
  margin-top: 20px;
}

.browser {
  &__total {
    padding: 10px 15px;
    cursor: pointer;
  }

  &__version {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid $gray-lighter;
    margin-bottom: -1px;
    margin-right: 1px;
    font-weight: normal;
  }
}

@media (min-width: $screen-md) {
  .browsers {
    max-height: 600px;
    overflow: auto;
    margin-top: 0;
  }
}
