nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="./")
        | Browser Usage
     ul.nav.navbar-nav.navbar-right
       li(class=(page == "about" ? "active" : ""))
         a(href="about.html") About
