doctype html
html(lang='en')
  include ./shared/_html_header
  body
    include ./shared/_navigation
    .container
      .row
        .col-md-8
          canvas.chart.js-chart(width=600, height=600)
        .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3
          .browsers.js-browsers

    include ./shared/_footer
