doctype html
html(lang='en')
  include ./shared/_html_header
  body
    include ./shared/_navigation
    .container
      .row
        .col-lg-9
          canvas.chart.js-chart(width=600, height=600)
        .col-lg-3
          .js-browsers

    include ./shared/_footer
